name: Node.js CI

on:
 push:
  branches:
   - main

jobs:
 build:

 runs-on: ubuntu-latest

 strategy:
 matrix:
  node-version: {20.x}

 steps:
 - name: checkout repository
   uses: actions/checkout@v3

 - name: Set up Node.js
   uses: actions/setup-node@v3
   with:
    node-version: ${{ matrix.node-verion }}

 - name: install dependencies
   run: npm install

 - name: Start application
   run: npm start
